<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidon.www.mapper.OrderTicketInfoMapper">

    <resultMap id="BaseResultMap" type="com.yidon.www.pojo.OrderTicketInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="arr_station" column="arr_station" jdbcType="VARCHAR"/>
            <result property="dp_station" column="dp_station" jdbcType="VARCHAR"/>
            <result property="lp_num" column="lp_num" jdbcType="VARCHAR"/>
            <result property="train_id" column="train_id" jdbcType="INTEGER"/>
            <result property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="user_name" column="user_name" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="INTEGER"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="is_deleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,arr_station,dp_station,
        lp_num,train_id,user_id,
        user_name,price,create_time,
        update_time,is_deleted
    </sql>
</mapper>
