<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidon.www.mapper.ProductTrainInfoMapper">

    <resultMap id="BaseResultMap" type="com.yidon.www.pojo.ProductTrainInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="lp_num" column="lp_num" jdbcType="VARCHAR"/>
            <result property="dp_station" column="dp_station" jdbcType="VARCHAR"/>
            <result property="stop_station" column="stop_station" jdbcType="VARCHAR"/>
            <result property="arr_station" column="arr_station" jdbcType="VARCHAR"/>
            <result property="cap" column="cap" jdbcType="INTEGER"/>
            <result property="dp_time" column="dp_time" jdbcType="TIMESTAMP"/>
            <result property="frequeny" column="frequeny" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="INTEGER"/>
            <result property="ticket_count" column="ticket_count" jdbcType="INTEGER"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="is_deleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,lp_num,dp_station,
        stop_station,arr_station,cap,
        dp_time,frequeny,price,
        ticket_count,create_time,update_time,
        is_deleted
    </sql>
</mapper>
